@using TieStore.Web.Models
@model Product

@{
    ViewBag.Title = "Tie Store Backoffice";
}

<h2>Tie Store Backoffice</h2>
<ul>
	<li><a href=/BackOffice/Create>Create a product</a></li>
	<li><a href=/BackOffice/ListAll>List all products</a></li>
</ul>

 <a href="/">Back to Store</a>